<script type="text/javascript">
  $(function(){
    keys = <%= keys.to_json.html_safe %>
    data = <%= stat_data.to_json.html_safe %>
    new ModelStatisticsGraph('<%= graph_title %>', keys, data, '<%= stat_alias %>', <%= width %>, <%= height %>)
  })
</script>

<% if stat_data.empty? %>
  <%= graph_title %>
  </br>
  No data
  </br>
  </br>
<% else %>
  <div class="models_stats_graph" style='clear: both;'>
    <div class='<%= stat_alias %>_statistics_legend legend' style='float: right;'></div>
    <div class='col-lg-12 text-center extended-y-ticks' id='<%= stat_alias %>_statistics'></div>
  </div>
<% end %>
